@import '../../../variables';

h1:focus {
  outline: none;
}

h1:hover {
  cursor: pointer;
}

.title-text {
  color: #FFF;
  font-family: 'Teko', sans-serif;
  font-weight: semi-bold;
  text-shadow: 2px 2px $primary-color;
}
