@import '../../../variables';

table {
  color: #FFF;
}

.champion-mastery-badge {
  height: 50px;
}

.champion-square {
  height: 50px;
}

.chest {
  height: 40px;
}

.table-header tr th {
  background-color: $primary-color;
  border: none;
}
