<input type="text" class="form-control mb-1" placeholder="Search by Champion name" aria-label="Champion name" [(ngModel)]="championSearchText">
<table class="table">
  <thead class="table-header">
    <tr>
      <th scope="col"></th>
      <th scope="col" class="align-middle">Champion</th>
      <th scope="col" class="align-middle text-center">Mastery Level</th>
      <th scope="col" class="align-middle">Mastery Points</th>
      <th scope="col" class="align-middle text-center">Mastery Tokens Earned</th>
      <th scope="col" class="align-middle text-center">Chest Granted</th>
    </tr>
  </thead>
  <tbody>
    <tr data-cy="champion-mastery-row" *ngFor="let championMastery of championMasteries | championSearch: championSearchText">
      <td class="align-middle">
        <img class="champion-square" data-cy="champion-square" [src]="championMastery.championSquareAssetUrl">
      </td>
      <td class="align-middle" data-cy="champion-name">{{ championMastery.championName }}</td>
      <td class="align-middle text-center">
        <img class="champion-mastery-badge" data-cy="champion-mastery-badge" [src]="'assets/images/champion-mastery-badge-' + championMastery.championLevel + '.png'">
      </td>
      <td class="align-middle" data-cy="champion-mastery-points">{{ championMastery.championPoints | number }}</td>
      <td class="align-middle text-center" data-cy="champion-mastery-tokens-row">
        <app-champion-mastery-token [championSquareAssetUrl]="championMastery.championSquareAssetUrl"
          [currentChampionMasteryLevel]="championMastery.championLevel"
          [masteryTokensEarned]="championMastery.tokensEarned"></app-champion-mastery-token>
      </td>
      <td class="align-middle text-center" data-cy="hextech-chest-granted-col">
        <img *ngIf="championMastery.chestGranted" class="chest" data-cy="hextech-chest-granted" src="assets/images/hextech-chest.png">
      </td>
    </tr>
  </tbody>
</table>