<p data-cy="number-of-chests-acquired">{{ numberOfChestsAcquired }} Hextech {{ numberOfChestsAcquired === 1 ? 'Chest' : 'Chests' }} acquired</p>
<p data-cy="mastery-7-champions">{{ numberOfLevel7Masteries }} {{ numberOfLevel7Masteries === 1 ? 'Champion' : 'Champions' }} with Mastery Level 7</p>
<p data-cy="mastery-6-champions">{{ numberOfLevel6Masteries }} {{ numberOfLevel6Masteries === 1 ? 'Champion' : 'Champions' }} with Mastery Level 6</p>
<p data-cy="mastery-5-champions">{{ numberOfLevel5Masteries }} {{ numberOfLevel5Masteries === 1 ? 'Champion' : 'Champions' }} with Mastery Level 5</p>
