<div class="text-center mt-5">
  <app-logo [isHome]="true"></app-logo>
  <h5 class="my-5">A simple way to see how you are doing with mastering your favorite League of Legends
    Champions and
    collecting Hextech Chests.
    LOLOT will let you know which Champions have done the honor of rewarding you with a Hextech Chest (by either
    yourself or a teammate) and which Champions are still on the journey towards
    Mastery for the current season.</h5>
  <app-summoner-form></app-summoner-form>
  <img src="assets/images/hextech-chest-and-key.png" class="mt-3">
</div>